<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Configuration - Activity Provider</title>
</head>
<body>
<div layout:fragment="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h5 class="m-0">CONFIGURATION LIST</h5>
                </div>
                <hr>
                <div class="col-sm-6">
                    <a href="/dashboard" class="btn btn-sm btn-primary float-sm-right" id="backButton">
                        <i class="fas fa-arrow-left"></i> Back
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col">
                    <a href="/configuration/configuracao-interfaces/create" class="btn btn-sm btn-success" id="addButton"><i class="fas fa-plus"></i> CREATE ACTIVITY</a>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <th>#</th>
                                <th>Technical description</th>
                                <th>Activity instructions</th>
                                <th>Support material</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="activityConfiguration : ${activityConfigurationEntities}" th:if="${activityConfigurationEntities.size() > 0}">
                                <td th:text="${activityConfiguration.id}"></td>
                                <td th:text="${activityConfiguration.technical_description}"></td>
                                <td th:text="${activityConfiguration.activity_instructions}"></td>
                                <td th:text="${activityConfiguration.support_material}"></td>
                                <td>
                                    <a href="/configuration/configuracao-interfaces/detalhe(id=${activityConfiguration.id})" class="btn btn-sm btn-info">
                                        <i class="fas fa-info-circle"></i> DETALHES
                                    </a>
                                    <a href="/configuration/configuracao-interfaces/edit(id=${activityConfiguration.id})" class="btn btn-sm btn-warning">
                                        <i class="fas fa-edit"></i> EDIT
                                    </a>
                                    <a href="/configuration/configuracao-interfaces/delete(id=${activityConfiguration.id})" class="btn btn-sm btn-danger">
                                        <i class="fas fa-trash"></i> DELETE
                                    </a>
                                </td>
                            </tr>
                            <tr th:if="${activityConfigurationEntities.size() == 0}">
                                <td colspan="5" class="text-center">Sem registros encontrados.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>